ion-content{
    --background:none;
    background-color: #fff;
    // width: 100%;
    // margin: 0;
    // padding: 0;
    position: relative;
    
}
.sponsor{
    overflow: auto;
    overflow-x: hidden;
    // white-space: nowrap;
    padding: 12px 0;
    }
    
    .sponsor .annonce{
        margin-top: 20px;
        width: 100%;
        height: 365px;
        box-shadow:  5px 5px 5px #bebebe,
                 -5px -5px 5px #ffffff;
        border-radius: 25px;
    
        display: inline-block;
        // margin-left: 10px;
        white-space: normal;
    }
    
.card-img{
    width: 100%;
    height: 200px;
    border-radius: 25px 25px 0 0 ;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;    
}
.card-categ{
    width: 120px;
    height: 20px;
    color: #FEF218;
    background-color: #1E2059;
    margin-top: 147px;
    text-align: center;
    opacity: 0.6;
    border-radius: 6px;
    font-size: small;
}
.card-info{
    color: black;
    padding: 0px 20px;
    margin-top: 8px;
}
.card-info #card-titre{
    font-size: large;
    font-weight: bold;
}
#card-footer{
    color: black;
    padding: 0px 20px;
}
