<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start" class="menu" [routerLink]="['/accueil']">
      <ion-icon name="chevron-back"></ion-icon>
    </ion-buttons>
    <div class="en-Tete">
      <img src="../../assets/img/logo.png" alt="">
    </div>
    <ion-buttons slot="end" class="menu">
      <ion-icon name="search"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="annonce">{{annonce.data.annonceTitre}}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="card-img"></div>
          
<div class="container">
  <div class="item">
      <p>Item1</p>
  </div>
  <div class="item">
      <p>Item2</p>
  </div>
  <div class="item">
      <p>Item3</p>
  </div>

</div>

  

</ion-content>
